navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: whitesmoke !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: green !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: green !important;
  background-color: white;
  border-color: transparent;
  color: #111 !important;
}

/* Style about */

.jumbotron {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style portfolio*/
#portfolio {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style contact*/
#contact {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style footer*/

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: green;
}
body {
  font-family: "Sofia", sans-serif;
}


