/* .container {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
  }

  body {
    font-family: "Sofia", sans-serif;
  }

nav {
    text-align: center;
    font-size: 30px;
    text-decoration-color: aliceblue;




}
 .highlighted-text{
     text-size-adjust: 79;
 }

section{
    columns: calc(6,9,12);
    align-items: right;

}

nav {
    width : 300px; 
    background: #d9d9d9;
    margin : 40px auto; 
  }
  
  span {
    padding : 30px;
    background : #2d2f31; 
    color : aliceblue;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    display: block;
  }
  
  span::after {
    float: right;
    right: 10%;
    content: "+";
  }
  
  .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
  }
  
  .slide li {padding : 30px;}
  
  #touch {position: absolute; opacity: 0; height: 0px;}    
  
  #touch:checked + .slide {height: 300px;} 
 */



navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: whitesmoke !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: green !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: green !important;
  background-color: white;
  border-color: transparent;
  color: #111 !important;
}

/* Style about */

.jumbotron {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style portfolio*/
#portfolio {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style contact*/
#contact {
  background-color: black ! important;
  border-color: transparent;
  /* light purple */
  color: green !important;
  /* black */
  padding: 50px 100px 25px 100px;
}

/*Style footer*/

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: green;
}
body {
  font-family: "Sofia", sans-serif;
}

/*add scrollopsy so nav bar changes as scroll*/
/*body id{"myPage"data-spy="scroll"data-target=".navbar"data-offset="60"><div id="about"class="container-fluid"><div id="services"class="container-fluid"><div id="portfolio"class="container-fluid"><div id="pricing"class="container-fluid"><div id="contact"class="container-fluid">